/* Inicio navegación horizontal*/

ul.navmenu-h {
	margin: 0;
	padding: 0;
	list-style: none;
	position: relative;
	z-index: 1000;
	float: right;
	right: 50%;
}
ul.navmenu-h ul {
	width: 160px; /* Sub Menu Width */
	margin: 0;
	padding-left: 0;
	list-style: none;
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
}
ul.navmenu-h ul ul, ul.navmenu-h ul ul ul {
	top: 0;
	left: 100%;
}
ul.navmenu-h li {
	float: left;
	display: inline;
	position: relative;
	margin: 0;
	left: 50%;
}
ul.navmenu-h ul li {
	width: 100%;
	display: block;
	margin: 0;
	left: 0px;
}
/* Root Menu */
ul.navmenu-h a {
	padding: 12px 20px;
	float: left;
	display: block;
	background-color: transparent;
	color: #FFF;
	text-decoration: none;
	height: 1%;
	text-transform: none;
	font-family: 'neo', Arial, sans-serif;
	font-size: 25px;
}
/* Root Menu when is the current page*/
ul.navmenu-h > li.current-page > a, ul.navmenu-h > li.current-page-parent > a {
	background-color: #01AA98;
}
/* Root Menu Hover Persistence */
ul.navmenu-h a:hover, ul.navmenu-h li:hover a, ul.navmenu-h li.iehover a {
	text-decoration: underline;
    color: #bfd730;
}
/* 2nd Menu */
ul.navmenu-h li:hover li a, ul.navmenu-h li.iehover li a {
	    width: 218px;
    /* float: left; */
    background-color: #b6d700;
    color: #1b3340;
    text-transform: none;
    padding: 8px 20px;
    font-size: 16px;
    margin: 0;
    text-decoration: none;
}
/* 2nd Menu when is the current page*/
ul.navmenu-h li:hover li.current-page > a, ul.navmenu-h li.iehover li.current-page > a, ul.navmenu-h li:hover li.current-page-parent > a, ul.navmenu-h li.iehover li.current-page-parent > a {
background-color: #0288e9;
    color: #fff;
}
/* 2nd Menu Hover Persistence */
ul.navmenu-h li:hover li a:hover, ul.navmenu-h li:hover li:hover a, ul.navmenu-h li.iehover li a:hover, ul.navmenu-h li.iehover li.iehover a {
	    background-color: #1e88e5;
    color: #fff;
}
/* 3rd Menu */
ul.navmenu-h li:hover li:hover li a, ul.navmenu-h li.iehover li.iehover li a {
	background-color: #00303e;
    border-left: 1px solid #b6d700;
}	
ul.navmenu-h li:hover li:hover li:first-child a, ul.navmenu-h li.iehover li.iehover li:first-child a {
}
/* 3rd Menu when is the current page*/
ul.navmenu-h li:hover li:hover li.current-page > a, ul.navmenu-h li.iehover li.iehover li.current-page > a, ul.navmenu-h li:hover li:hover li.current-page-parent > a, ul.navmenu-h li.iehover li.iehover li.current-page-parent > a {
	background-color: #01AA98;
}
/* 3rd Menu Hover Persistence */
ul.navmenu-h li:hover li:hover li a:hover, ul.navmenu-h li:hover li:hover li:hover a, ul.navmenu-h li.iehover li.iehover li a:hover, ul.navmenu-h li.iehover li.iehover li.iehover a {
	background-color: #b6d700;
}
/* 4th Menu */
ul.navmenu-h li:hover li:hover li:hover li a, ul.navmenu-h li.iehover li.iehover li.iehover li a {
	background-color: #478DB4;
}
/* 4th Menu when is the current page*/
ul.navmenu-h li:hover li:hover li:hover li.current-page a, ul.navmenu-h li.iehover li.iehover li.iehover li.current-page a, ul.navmenu-h li:hover li:hover li:hover li.current-page-parent a, ul.navmenu-h li.iehover li.iehover li.iehover li.current-page-parent a {
	background-color: #01AA98;
}
/* 4th Menu Hover */
ul.navmenu-h li:hover li:hover li:hover li a:hover, ul.navmenu-h li.iehover li.iehover li.iehover li a:hover {
	background-color: #85C7BB;
}
/* Hover Function - Do Not Move */
ul.navmenu-h li:hover ul ul, ul.navmenu-h li:hover ul ul ul, ul.navmenu-h li.iehover ul ul, ul.navmenu-h li.iehover ul ul ul {
	display: none;
}
ul.navmenu-h li:hover ul, ul.navmenu-h ul li:hover ul, ul.navmenu-h ul ul li:hover ul, ul.navmenu-h li.iehover ul, ul.navmenu-h ul li.iehover ul, ul.navmenu-h ul ul li.iehover ul {
	display: block;
}
ul.navmenu-h li.no-link > a {
	cursor: default;
}
/* ---------------------------------------------------------------------------------------*/

/* Encabezado de navegación*/

.menu_header {
}
.menu_header p {
	margin: 0;
}
.menu_header a, .menu_header a:visited {
	color: #FFF;
	background-color: #1C75BC;
	padding: 10px;
	display: block;
	font-size: 24px;
	text-decoration: none;
	line-height: 25px;
}
.menu_header a:focus, .menu_header a:hover, .menu_header a:active {
	color: #FFF;
	text-decoration: none;
	background-color: #94C6EF;
}

/* ---------------------------------------------------------------------------------------*/
/* Inicio navegación vertical*/

ul.navmenu-v, ul.navmenu-v li, ul.navmenu-v ul {
	width: 100%; /* Menu Width */
	margin: 0;
	list-style: none;
	padding: 0;
}
ul.navmenu-v:before, ul.navmenu-v:after {
display: table;
line-height: 0;
content: "";
}
ul.navmenu-v:after {
clear: both;
}
ul.navmenu-v li {
	float: left;
	position: relative;
	width: 100%;
}
ul.navmenu-v li.iehover {
	z-index: 1000; /* IE z-index bugfix */
}
ul.navmenu-v ul {
	display: none;
	position: absolute;
	top: 0;
	left: 100%;
	z-index: 9999;
	width: 160px; /* Submenu Width */
}
/* Menu Title*/
ul.navmenu-v li.menu_title a, ul.navmenu-v li.current-page.menu_title a,ul.navmenu-v li.current-page-parent.menu_title a{
	font-size: 24px;
	font-family: 'robotoregular', Arial, sans-serif;
	color: #FFFFFF;
	background-color: #478DB4;
	padding: 20px 15px;
	line-height: 25px;
	border-top: 0;
	text-align: center;
}
ul.navmenu-v li.menu_title a:hover, ul.navmenu-v li.menu_title:hover a, ul.navmenu-v li.current-page.menu_title:hover a, ul.navmenu-v li.current-page-parent.menu_title:hover a {
	color: #FFFFFF;
	background-color: #01AA98;
}
/* Root Menu */
ul.navmenu-v a {
	padding: 15px;
	display: block;
	background-color: #FFF;
	color: #000;
	text-decoration: none;
	height: 1%;
	font-family: 'arconregular', Arial, sans-serif;
	font-size: 18px;
	text-align: center;
}
/* Root Menu when is the current page*/
ul.navmenu-v li.current-page a, ul.navmenu-v li.current-page-parent a {
	color: #01AA98;
}
/* Root Menu Hover Persistence */
ul.navmenu-v a:hover, ul.navmenu-v li:hover a, ul.navmenu-v li.iehover a {
	background-color: #85C7BB;
	color: #FFF;
}
/* 2nd Menu */
ul.navmenu-v li:hover li a, ul.navmenu-v li.iehover li a {
	float: none;
	background-color: #1C75BC;
	color: #FFF;
	border-top: 1px solid #94C6EF;
	border-left: 1px solid #FFF;
}
ul.navmenu-v li:hover li:first-child a, ul.navmenu-v li.iehover li:first-child a {
	border-top: none;
	margin-top: 1px;
}
/* 2nd Menu when is the current page*/
ul.navmenu-v li:hover li.current-page > a, ul.navmenu-v li.iehover li.current-page > a, ul.navmenu-v li:hover li.current-page-parent > a, ul.navmenu-v li.iehover li.current-page-parent > a {
	background-color: #94C6EF	;
	color: #1C75BC;
}
/* 2nd Menu Hover Persistence */
ul.navmenu-v li:hover li a:hover, ul.navmenu-v li:hover li:hover a, ul.navmenu-v li.iehover li a:hover, ul.navmenu-v li.iehover li.iehover a {
	background-color: #94C6EF;
	color: #FFF;
}
/* 3rd Menu */
ul.navmenu-v li:hover li:hover li a, ul.navmenu-v li.iehover li.iehover li a {
	background-color: #1C75BC;
	color: #FFF;
}
/* 3rd Menu when is the current page*/
ul.navmenu-v li:hover li:hover li.current-page > a, ul.navmenu-v li.iehover li.iehover li.current-page > a, ul.navmenu-v li:hover li:hover li.current-page-parent > a, ul.navmenu-v li.iehover li.iehover li.current-page-parent > a {
	background-color: #94C6EF	;
	color: #1C75BC;
}
/* 3rd Menu Hover Persistence */
ul.navmenu-v li:hover li:hover li a:hover, ul.navmenu-v li:hover li:hover li:hover a, ul.navmenu-v li.iehover li.iehover li a:hover, ul.navmenu-v li.iehover li.iehover li.iehover a {
	background-color: #94C6EF;
	color: #FFF;
}
/* 4th Menu */
ul.navmenu-v li:hover li:hover li:hover li a, ul.navmenu-v li.iehover li.iehover li.iehover li a {
	background-color: #1C75BC;
	color: #FFF;
}
/* 4th Menu when is the current page*/
ul.navmenu-v li:hover li:hover li:hover li.current-page a, ul.navmenu-v li.iehover li.iehover li.iehover li.current-page a, ul.navmenu-v li:hover li:hover li:hover li.current-page-parent a, ul.navmenu-v li.iehover li.iehover li.iehover li.current-page-parent a {
	background-color: #94C6EF	;
	color: #1C75BC;
}
/* 4th Menu Hover */
ul.navmenu-v li:hover li:hover li:hover li a:hover, ul.navmenu-v li.iehover li.iehover li.iehover li a:hover {
	background-color: #94C6EF;
	color: #FFF;
}
/* Hover Function - Do Not Move */
ul.navmenu-v li:hover ul ul, ul.navmenu-v li:hover ul ul ul, ul.navmenu-v li.iehover ul ul, ul.navmenu-v li.iehover ul ul ul {
	display: none;
}
ul.navmenu-v li:hover ul, ul.navmenu-v ul li:hover ul, ul.navmenu-v ul ul li:hover ul, ul.navmenu-v li.iehover ul, ul.navmenu-v ul li.iehover ul, ul.navmenu-v ul ul li.iehover ul {
	display: block;
}
ul.navmenu-v li.no-link > a {
	cursor: default;
}

/* ---------------------------------------------------------------------------------------*/
/* Inicio navegación breadcrumb*/

.tw-breadcrumb {
	font-size: 12px;
	margin: 10px 0;
	overflow: hidden;
	padding-left: 0;
}
.tw-breadcrumb ul  {
	padding: 0;
	margin: 0;
}
.tw-breadcrumb li{
	padding: 0;
	margin: 0 8px 0 0;
	list-style: url(../../images/breadcrumbullet.html) inside;
	float: left;
}
.tw-breadcrumb li:first-child{
	list-style: none;
}
.tw-breadcrumb li span{
	color: #999999;
	cursor: default;

}
@media (max-width: 767px) {
ul.navmenu-h {
	margin: 0;
	padding: 0;
	list-style: none;
	position: relative;
	z-index: 1000;
	clear: left;
	float: none;
	right: 0;
}
ul.navmenu-h ul {
	width: auto; /* Sub Menu Width */
	margin: 0;
	list-style: none;
	display: block;
	position: relative;
	top: 100%;
	left: 10px;
}
ul.navmenu-h ul ul, ul.navmenu-h ul ul ul {
	left: 10px;
}
ul.navmenu-h li {
	float: none;
	display: inline;
	position: relative;
	margin: 0;
	left: 0	;
}
/* Root Menu */
ul.navmenu-h a {
	padding: 7px;
	float: none;
	display: block;
	margin: 0;
	font-size: 18px;
}
/* Root Menu when is the current page*/
ul.navmenu-h > li.current-page > a, ul.navmenu-h > li.current-page-parent > a {
	color: #000;
	background-color: transparent;
}
/* Root Menu Hover Persistence */
ul.navmenu-h a:hover, ul.navmenu-h li:hover a, ul.navmenu-h li.iehover a {
	background-color: transparent;
}
/* 2nd Menu */
ul.navmenu-h li:hover li a, ul.navmenu-h li.iehover li a {
	float: none;
	background-color: transparent;
	color: #FFF;
	padding: 7px;
	border-top: 0;
	font-size: 18px;
	margin: 0;
}
/* 2nd Menu when is the current page*/
ul.navmenu-h li:hover li.current-page > a, ul.navmenu-h li.iehover li.current-page > a, ul.navmenu-h li:hover li.current-page-parent > a, ul.navmenu-h li.iehover li.current-page-parent > a {
	color: #FFF;
	background-color: transparent;
}
/* 2nd Menu Hover Persistence */
ul.navmenu-h li:hover li a:hover, ul.navmenu-h li:hover li:hover a, ul.navmenu-h li.iehover li a:hover, ul.navmenu-h li.iehover li.iehover a {
	background-color: transparent;
}
/* 3rd Menu */
ul.navmenu-h li:hover li:hover li a, ul.navmenu-h li.iehover li.iehover li a {
	background-color: transparent;
	border: 0;
}
ul.navmenu-h li:hover li:hover li:first-child a, ul.navmenu-h li.iehover li.iehover li:first-child a {
	border-top: none;	
	margin-top: 0;
}
/* 3rd Menu when is the current page*/
ul.navmenu-h li:hover li:hover li.current-page > a, ul.navmenu-h li.iehover li.iehover li.current-page > a, ul.navmenu-h li:hover li:hover li.current-page-parent > a, ul.navmenu-h li.iehover li.iehover li.current-page-parent > a {
	color: #FFF;
	background-color: transparent;
}
/* 3rd Menu Hover Persistence */
ul.navmenu-h li:hover li:hover li a:hover, ul.navmenu-h li:hover li:hover li:hover a, ul.navmenu-h li.iehover li.iehover li a:hover, ul.navmenu-h li.iehover li.iehover li.iehover a {
	background-color: transparent;
	color: #FFF;
}
/* 4th Menu */
ul.navmenu-h li:hover li:hover li:hover li a, ul.navmenu-h li.iehover li.iehover li.iehover li a {
	background-color: transparent;
	color: #FFF;
}
/* 4th Menu when is the current page*/
ul.navmenu-h li:hover li:hover li:hover li.current-page a, ul.navmenu-h li.iehover li.iehover li.iehover li.current-page a, ul.navmenu-h li:hover li:hover li:hover li.current-page-parent a, ul.navmenu-h li.iehover li.iehover li.iehover li.current-page-parent a {
	color: #FFF;
	background-color: transparent;
}
/* 4th Menu Hover */
ul.navmenu-h li:hover li:hover li:hover li a:hover, ul.navmenu-h li.iehover li.iehover li.iehover li a:hover {
	background-color: transparent;
	color: #FFF;
}
ul.navmenu-h li:hover ul ul, ul.navmenu-h li:hover ul ul ul, ul.navmenu-h li.iehover ul ul, ul.navmenu-h li.iehover ul ul ul {
	display: block;
}
}